<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Predict mode</title>
    </head>
    <body>
        <center>
            <form action="/predict" method="POST" enctype="multipart/form-data">
                data:
                <input type="file" name="data">
                <button value="upload" type="submit">feed</button>
            </form>
            <br/>
            <form action="/modePredict" method="POST" enctype="multipart/form-data">
                <button value="upload" type="submit">to view mode</button>
            </form>
        </center>
    </body>
</html>