<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <center>
            {% for ind in range(len) %}
                {{ind}}:
                {% if lay[ind]['class_name'] == "Dense" %}
                    Dense {{lay[ind]['config']["units"]}} {{lay[ind]['config']["activation"]}}
                {% endif %}
                {% if lay[ind]['class_name'] == "Dropout" %}
                    Dropout {{lay[ind]['config']["rate"]}}
                {% endif %}
                {% if lay[ind]['class_name'] == "Conv2D" %}
                    Conv2D {{lay[ind]['config']["filters"]}} {{lay[ind]['config']["activation"]}}
                {% endif %}
                {% if lay[ind]['class_name'] == "Flatten" %}
                    Flatten
                {% endif %}
                {% if lay[ind]['class_name'] == "MaxPooling2D" %}
                    MaxPooling2D {{lay[ind]['config']["pool_size"][0]}}
                {% endif %}
                <br/>
            {% endfor %}
            <br/>
            input shape: {{input_shape}}
            <br/>
            loss: {{loss}}
            <br/>
            optimizer: {{optimizer}}
            <form action="/modeEdit" method="POST" enctype="multipart/form-data">
                <button value="upload" type="submit">to edit mode</button>
            </form>
            <br/><br/>
            {% if not fed %}
                <form action="/modeFeed" method="POST" enctype="multipart/form-data">
                    <button value="upload" type="submit">to feed mode</button>
                </form>
            {% else %}
                <form action="/modePredict" method="POST" enctype="multipart/form-data">
                    <button value="upload" type="submit">to predict mode</button>
                </form>
            {% endif %}
        </center>
    </body>
</html>