<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View mode</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="main">
            <h3>codename chu-chu *project name*</h3>
            <div class="main-content">
                <fieldset class="border">
                    <legend align="left">View mode</legend>
                    <div class="border-content">
                        <div class="box">
                        <h4>layers</h4>
                        <ol>
                            {% for layer in layers %}
                                <li>
                                    <div style="display: flex">
                                        <p>
                                    {% if layer['class_name'] == "Dense" %}
                                        Dense {{layer['config']["units"]}} {{layer['config']["activation"]}}
                                    {% endif %}
                                    {% if layer['class_name'] == "Dropout" %}
                                        Dropout {{layer['config']["rate"]}}
                                    {% endif %}
                                    {% if layer['class_name'] == "Conv2D" %}
                                        Conv2D {{layer['config']["filters"]}} {{layer['config']["activation"]}}
                                    {% endif %}
                                    {% if layer['class_name'] == "Flatten" %}
                                        Flatten
                                    {% endif %}
                                    {% if layer['class_name'] == "MaxPooling2D" %}
                                        MaxPooling2D {{layer['config']["pool_size"][0]}}
                                    {% endif %}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                        <div class="box">
                        <h4>model params</h4>
                        input shape: {{input_shape}}
                        <br/>
                        loss: {{loss}}
                        <br/>
                        optimizer: {{optimizer}}
                    </div>
                    <div class="box">
                        <form action="/saveModel" method="POST" enctype="multipart/form-data">
                            <button value="upload" type="submit">[save model]</button>
                        </form>
                        <form action="/modeEdit" method="POST" enctype="multipart/form-data">
                            <button value="upload" type="submit">[to edit mode]</button>
                        </form>
                        <form action="/modeFeed" method="POST" enctype="multipart/form-data">
                            <button value="upload" type="submit">[to feed mode]</button>
                        </form>
                        <form action="/modePredict" method="POST" enctype="multipart/form-data">
                            <button value="upload" type="submit">[to predict mode]</button>
                        </form>
                    </div>
                    </div>
                </fieldset>
            </div>
            <br/><br/><br/>
            <div class="copy">&copy chu-chu team, 2019 <br/> made with <span class="red"><3</span></div>
        </div>
    </body>
</html>